@import "material-icons/iconfont/material-icons.css";

/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  margin-left: 6em;
  margin-right: 6em;
}
body,
input[type="text"] {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  height: 25px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-content-center {
  justify-content: center;
}

button {
  background-color: #3f51b5;
  color: #ffffff;
  margin: 8px 8px 8px 0;
  cursor: pointer;
  outline: none;
  border: none;
  min-width: 64px;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}
